.dec{
  background-color: rgb(218, 214, 214);
  width: 600px;
  height:30px;
  position: relative;
  left:19rem;
  border-radius:10px;
  top:5rem;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items: center;
}

.dec-child>svg{
  width:inherit;
  height:inherit;
}

.dec-child{
  height:30px;
  width:100px;
}

.dec-child>p{
  position: relative;
  bottom:1.2rem;
  left:1rem;
}