.dec{
  background-color: rgb(218, 214, 214);
  width:600px;
  height:30px;
  position: relative;
  left:19rem;
  border-radius:10px;
  top:5rem;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
}

.dec>div>svg{
  width:inherit;
  height:inherit;
}

.dec-child{
  height:30px;
  width:50px;
}